{{ partial "head.html" . }}
<div class="content container">
  <div class="posts">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.mainPageTypes) }}
    {{ range $paginator.Pages }}
    <div class="post">
      <h1 class="post-title{{ if eq .Type "link"}} link-type{{ end }}">
        {{ if eq .Type "post" }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ else }}
        <a href="{{ .Params.link }}">{{ .Title }}</a>  <i class="fa fa-external-link"></i></h1>
        {{ end }}
      </h1>
      <span class="post-date">{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }} &middot; {{ partial "permalink.html" . }}
      {{ if isset .Params "categories" }}
      <br/>
      {{ range .Params.categories }}<a class="label" href="/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
      {{ end }}</span>
      <!-- <p>{{ .Description }}</p> -->
      {{ .Summary }}
      {{ if .Truncated }}
      <div class="read-more-link"><a href="{{ .RelPermalink }}">Read More…</a></div>
      {{ end }}
      <!-- <a href="{{ .Permalink }}">Read On &rarr;</a> -->
    </div>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </div>
</div>

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
var disqus_shortname = {{ . }};
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{{ end }}
{{ partial "foot.html" . }}
